.text {
  color: red;
}

.headerLogo {
}

.backgroundSignin {
  background-image: url("../public/xxxx.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.backgroundDetail {
  background-image: url("../public/wepik--2022519-133817.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
}
